Source: openmediavault-webdav
Section: misc
Priority: optional
Maintainer: Aaron Murray <aaron@omv-extras.org>
Build-Depends: debhelper (>= 7 )
Standards-Version: 3.9.3
Homepage: http://omv-extras.org/

Package: openmediavault-webdav
Architecture: all
Depends: ${misc:Depends}, 
		openmediavault (>= 0.5), openmediavault (<< 0.6), 
		libapache2-mod-authz-unixgroup,
		pwauth,
		libapache2-mod-authnz-external
Description: OpenMediaVault WebDAV plugin
 web interface to enable WebDAV and select
 share for files
