Source: openmediavault-webdav
Section: misc
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0 )
Standards-Version: 3.9.3
Homepage: http://omv-extras.org/

Package: openmediavault-webdav
Architecture: all
Depends: sabredav, ${misc:Depends}, openmediavault (>= 1.0.29)
Description: OpenMediaVault WebDAV plugin
 web interface to enable WebDAV and select share for files
