Source: openmediavault-webdav
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 12)
Standards-Version: 4.3.0
XB-Plugin-Section: filesystems

Package: openmediavault-webdav
Architecture: all
Depends: openmediavault (>= 6.0.25),
         libnginx-mod-http-auth-pam,
         libnginx-mod-http-dav-ext,
         ${misc:Depends}
Description: OpenMediaVault WebDAV plugin.
 Web interface to enable WebDAV and select a share for files.
