Package: openmediavault-webdav
Version: 0.5.0
Architecture: all
Maintainer: Aaron Murray <aaron@omv-extras.org>
Installed-Size: 148
Depends: openmediavault (>= 0.5), libapache2-mod-authz-unixgroup, pwauth, libapache2-mod-authnz-external
Section: misc
Priority: optional
Homepage: http://omv-extras.org/
Description: OpenMediaVault WebDAV plugin
