{%- set sfpath = salt['omv_conf.get_sharedfolder_path'](config.sharedfolderref) -%}
location /webdav {
    root {{ sfpath }};
    client_body_temp_path /srv/client_temp;

    dav_methods PUT DELETE MKCOL COPY MOVE;

    create_full_put_path  on;
    dav_access  group:rw  all:r;
}
